// Fuentes
$font-primary:  'Lato', sans-serif;
$font-heading: 'Oswald', sans-serif;



// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$color-primary: #1a66cc;
$color-secondary: #ecab0f;
$color-tertiary:  #068D9D;
$color-muted:rgb(168, 168, 168);


$black: #000;
$white: #FFFFFF;
$grey: #464646;
$light-grey: #F2F2F2;